/* ШРИФТЫ */
@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* ЦВЕТА */
:root {
    --color1: rgb(48, 48, 48);
    --light-hover: rgba(255, 255, 255, 0.849);
    --simple-fill1: rgba(255, 255, 255, 0.55);
    --simple-fill2: rgb(189, 189, 189);
}

/*  */
:root {
    --transition-25: all 0.25s ease-in-out;
}

/* ОСНОВНЫЕ СТИЛИ СТРАНИЦЫ */
body {
    background-color: rgb(189, 189, 189);
    font-family: 'Tiro Devanagari Hindi', serif;
}

header,
footer {
    background-color: var(--color1);
}

footer {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.bg-dark {
    background-color: rgb(48, 48, 48) !important;
}


/* ПАНЕЛЬ НАВИГАЦИИ */
.navbar-brand {
    font-size: 30px;
}

@media (min-width:992px) {
    .navbar-expand-lg {
        height: 71px;
    }
}

.nav-link:hover {
    color: var(--light-hover);
    transition: var(--transition-25);
}

.navbar-toggler {
    transition: var(--transition-25);
    border-color: rgba(255, 255, 255, 0.2);
}

.bi-toggler {
    fill: var(--simple-fill1);
}


/* ПОИСК */
.input-group {
    padding-top: 10px;
    border-bottom: 2px solid var(--simple-fill1);
}

.form-control {
    color: var(--light-hover) !important;
    background-color: transparent;
    border: none;
    border-radius: 0%;
    padding: 6px 0 0 2px;
    caret-color: var(--light-hover);
}

.form-control:focus {
    background-color: transparent;
    box-shadow: none;
    border-color: var(--simple-fill1);
}

.form-control::placeholder {
    color: var(--simple-fill1);

}

.btn-search {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    cursor: default;
}

.material-symbols-outlined {
    padding-top: 4px;
    display: flex;
    font-size: 24px;
    color: var(--simple-fill1);
    transition: var(--transition-25);
}

.material-symbols-outlined:hover {
    color: var(--light-hover);
    transition: var(--transition-25);
}


/* МОДАЛЬНОЕ ОКНО */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    overflow: auto;
    background-color: var(--color1);
    color: #fff;
    opacity: 95%;
    z-index: 1000;
}

@media (max-width: 768px) {
    .modal {
        width: 100%;
    }

}

.bi-list,
.bi-close {
    fill: var(--simple-fill1);
    transition: var(--transition-25);
}

.bi-list:hover,
.bi-close:hover {
    fill: rgba(255, 255, 255, 0.849);
    transition: var(--transition-25);
}

.btn-modal {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    background-color: transparent;
    border: none;
}


.modal .modal_content {
    z-index: 99999;
}

.modal .modal_content .close_modal_window {
    color: var(--simple-fill2);
    float: right;
    font-size: 44px;
    font-weight: bold;
    cursor: pointer;
}

.modal_inner {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 5px;
    margin-bottom: 15px;
    border-bottom: 2px solid var(--simple-fill2);
}

.modal-ul {
    color: var(--simple-fill2);
    list-style-type: none;
    padding-left: 30px;
}

.modal-ul li {
    margin: 10px 0;
}

@media (max-width: 768px) {
    .modal-ul {
        text-align: center;
    }
}

/* АНИМАЦИИ МОДАЛЬНОГО ОКНА */
@keyframes shift-media-right {
    0% {
        left: -100%;
    }

    100% {
        left: 0%;
    }
}

@keyframes shift-media-left {
    0% {
        left: 0%;
    }

    100% {
        left: -100%;
    }
}

@keyframes shift-right {
    0% {
        left: -300px;
    }

    100% {
        left: 0%;
    }
}

@keyframes shift-left {
    0% {
        left: 0%;
    }

    100% {
        left: -300px;
    }
}

/* ОСНОВНАЯ ЧАСТЬ СТРАНИЦЫ */
.card-link {
    text-decoration: none;
    color: var(--simple-fill2);
}

.card-link:hover {
    color: var(--light-hover);
}

.card {
    background-color: var(--color1);
    transition: var(--transition-25);
}

.card:hover {
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    transition: var(--transition-25);
}